@use '../../assets/styles/colorVariables.scss' as *;

.bigTitle{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    width: max-content;
    color: $Secondary-500;
    margin: 0;
    padding: 0;
}