.submitButton {
  width: 100%;
  height: auto;
  max-width: 200px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #5577FF;
  background-color: #5577FF;
  color: #FFFFFF;
  font: 600 16px 'Poppins', sans-serif;
  cursor: pointer;

  &:hover {
    background-color: #5577FF88;
  }
}