@use '../../assets/styles/colorVariables'  as *;

.sidebar {
    font-family: "Poppins", sans-serif;
    width: 248px;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: $White;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }

.logo {
    padding: 0 16px;
}

.logoImage {
    width: 100%;
    height: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}