.create_task {
  display: flex;
  width: 100%;
  max-width: 550px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  background-color: #fff5f5;
}

.createTaskHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 24px;
  width: 100%;
  max-width: 480px;
  margin: 26px 0 0 32px;

  .titleTask {
    font: 600 31px 'Poppins', sans-serif;
  }
}

.createTaskForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  gap: 12px;
}