@use '../../assets/styles/colorVariables.scss' as *;

.purpleButton {
  background-color: $Base-purple;
}

.purpleButton:hover {
  background-color: $Base-purple-hover; /* темніший синьо-фіолетовий */
}

.redButton {
  background-color: $Error-red;
}

.redButton:hover {
  background-color: $Error-red-hover; /* темніший червоний */
}


.BigButton{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 8px 42px;
    border-radius: 8px;
    border: none;
    color: $White;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}