.title{
	color: var(--Secondary-500, #141522);

	/* Semibold/Type@24 */
	font-family: "Plus Jakarta Sans";
	font-size: 24px;
	font-weight: 600;
	line-height: 150%; /* 36px */
	letter-spacing: -0.72px;
	margin-bottom: 18px;
}