// font-family: "Inter", sans-serif;
// font-family: "Poppins", sans-serif;

$White: #ffffff;
$White-hover: #F5F5F7;

$Default-border: #ccc;

$Black: #000000;

$Login-border: #878787;

$Backgroung: #FFFAFA;

$Base-purple: #5577FF;
$Base-purple-hover: #3e5ed6;
$Disabled-button: #ABABAB;

$Error-red: #EE201C;
$Error-red-hover: #c41816;
$Error-red-background: #EE201C2E;

$Approved: #1A932E;
$Approved-background: #1A932E2E;

$Pending: #FEB701;
$Pending-background: #FABB1826;

$On-going: #E65F2B;
$On-going-background: #E65F2B2E;

$Brand-100: #F4EBFF;
$Brand-600: #7F56D9;

$Secondary-300: #8E92BC;
$Secondary-400: #54577A;
$Secondary-500: #141522;

$Message: #FF4D5E;

$Grey: #D0D5DD;
$Gray-50: #F9FAFB;
$Gray-200: #E4E7EC;
$Gray-300: #D0D5DD;
$Gray-400: #98A2B3;
$Gray-500: #667085;
$Gray-600: #475467;
$Gray-900: #101828;