@use '../../assets/styles/colorVariables.scss' as *;

.create_task {
  display: flex;
  gap: 0;
  width: 100%;
  max-width: 550px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.createTaskHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  width: 100%;
  max-width: 500px;

  .titleTask {
    font: 600 31px 'Poppins', sans-serif;
    margin-top: 17px;
  }
}

.createTaskForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}