@use '../../assets/styles/colorVariables.scss' as *;
.container{
	color: $Secondary-500;
<<<<<<< HEAD
	font-family: "Plus Jakarta Sans", sans-serif;
=======
	font-family: "Poppins", sans-serif;
>>>>>>> origin/main
}