@use '../../../assets/styles/colorVariables.scss' as *;

.inputContainer {
    width: max-content;
    position: relative;
}

.TasksSearchInput {
    width: 478px;
    height: 50px;
    border: solid 1px var(--Gray-300);
    border-radius: 10px;
    background-color: var(--White);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    vertical-align: middle;
    padding-left: 28px;
    padding-right: 65px;
    box-sizing: border-box;
    color: var(--Secondary-400);


    &:focus {
        border-color: var(--Gray-500);
        outline: none;
    }

    &::placeholder {
        color: var(--Secondary-400);
    }
}

.inputContainer i {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--Secondary-300);
}